html{
    min-height: 100%;
    position: relative;
}
body{
    background: #ffffff;
    margin: 0%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.encabezado{
    background-color: #A60522;
    height: 200px;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}
.apartado{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.persona{
    margin-left: 40px;
    padding: 10px;
    width: 30%;
    
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 0%;
}
h1{
    font-family: "consolas";
    font-size: 1.6em;
    margin: 0%;
    color: #E7ECEE;
}
h2{
    font-family: "consolas";
    font-size: 1.3em;
    margin: 0%;
    color: #E7ECEE;
}

h3{
    font-family: "consolas";
    font-size: 1.2em;
    margin: 0%;
    color: #E7ECEE;
}

.titulo{
    font-size: 2.7em;
}
ul {
    list-style-type: none;
    font-family: "consolas";;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
   
  }
  
li {
    float: left;
}
  
li a, .opcion {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.5s;
}
  
li a:hover, .menu:hover .opcion {
    
    border-bottom: 3px solid;
    border-color: beige;
}
  
li.menu {
    display: inline-block;
}
  
.contenido-opcion {
    display: none;
    position: absolute;
    background-color: #2277B8;
    column-count: 2;
    min-width: 40%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.contenido-opcion a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.contenido-opcion a:hover {
    background-color: #f1f1f1;
  }
  
.menu:hover .contenido-opcion {
    display: block;
}
.abajo{
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0%;
    padding: 0;
    width: 100%;
    height: 150px;
    position: absolute;
    background-color: #2277B8;
}
.github{
    background: url(25231.png);
    background-size: cover;
    width: 35px;
    height: 35px;
    margin: 0px;
    transition: 0.5s;
}
.redes{
    
    height: 100px;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.github:hover{
    width: 40px;
    height: 40px;
}