.texto-grande{
    color: black
}

button{
    text-align: center;
    background-color: #2277B8;
    box-shadow: 0px 0px 0px 0px;
    width: 120px;
    height: 30px;
    padding: 0%;
    margin: 10px;
    border: 0px;
    transition: 0.5s;
}
p{
    font-family: "consolas";
    font-weight: bolder;
    font-size: 1.2em;
    margin: 0%;
}
button:hover{
    background-color: #B5DFF5;
}
.event{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
input{
    text-align: center;
    box-shadow: 0px 0px 0px 0px;
    width: 200px;
    height: 30px;
    padding: 0%;
    margin: 10px;
    border: 0px;
    border-bottom: 2px solid;
    font-family: "consolas";
    font-weight: bolder;
    font-size: 1.2em;
}
.resul{
    font-family: "consolas";
    font-weight: bolder;
    font-size: 1.2em;
    margin: 10px;
    height: 30px;
    width: auto;
}